* {
    margin: 0;
     padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: space-between; /* 로고 왼쪽, nav 오른쪽 */
    align-items: center;
    padding: 0 40px; /* 좌우 여백 */
    /* border-bottom: 1px solid #ccc; */
}

.logo a {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    gap: 30px; /* 메뉴 간격 */
}

.nav-menu {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-menu1{
    text-decoration: none;
    background-color: gray;
    padding: 8px 16px;
    color: white;
    border-radius: 4px;
    
}
.nav-menu:hover {
    background-color: gray;
    color: white;
}
.menu-toggle-btn{
    color: black;
    font-size: 25px;
    background: transparent; 
    border: none;
    display: none;
    cursor: pointer;
 }

/* 메인 시작 */
main {
    display: flex;
    justify-content: center;      /* 가운데 정렬 */
    align-items: center;
    /* height: 900px; */
    min-height: 100vh;
    background-color: rgba(194, 194, 194, 0.445);
}

/*  이미지 + 텍스트 묶음 */
.main-content {
    display: flex;
    align-items: center;          /* 이미지와 텍스트 수직 가운데 맞춤 */
    justify-content: space-evenly;/* 간격 균등 배치 */
    gap: 40px;                    /* 이미지와 텍스트 사이 여백 */
    flex-wrap: wrap;              /* 화면이 작아지면 자동 줄바꿈 */
    transition: all 0.5s ease;
}

.main-img img {
    width: 400px;
    max-width: 80vw;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.ment1,
.main-text h2{
    opacity: 0;
    transform: translateX(40px);
}
.main-text a{
    opacity: 0;
    transform: translateY(50px);
}

@keyframes fadeUp {
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.ment1{
    animation: fadeUp 4s ease infinite;
    animation-delay: 0.3s;
}

.main-text h2{
    animation: fadeUp 4s ease infinite;
    animation-delay: 0.8s;
}

.main-text a{
    animation: fadeUp 4s ease infinite;
    animation-delay: 1.3s;
}

.main-text {
    text-align: left;
}

.ment1 {
    font-size: 4em;
    font-weight: 800;
    letter-spacing: -8px;
}

.main-text h2 {
    font-size: 3em;
    margin-left:35px;
    letter-spacing: -5px;
}

.main-text a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.63);
    color: white;
    margin-left: 90px;
    padding: 10px 20px;
    border-radius: 4px;
    transition: all 0.3s ease;
}
.main-text a:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    transform: scale(1.1);
}

/*  큰 화면 (데스크탑) */
@media (min-width: 1024px) {
    .ment1 {
        left: 70%;
    }
}

/* 작은 화면 (모바일) */
@media (max-width: 768px) {
    .menu-toggle-btn{
        display: block;
    }
    .nav{
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: white;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 20px 0;
    }
    .nav.active{
        display: flex;
    }
    .nav-menu{
        pad: 10px 0;
        font-size: 18px;
    }
    .main-content {
        flex-direction: column; /* 위아래 배치 */
        text-align: center;
        gap: 20px;
    }

    .main-img img {
        width: 250px;
        height: 250px;
    }
    .main-text{
        text-align: center;
    }
    .ment1 {
        left: 40%;
        font-size: 2.5em;
    }
    .main-text h2{
        margin-left: 0;
    }
    .main-text a{
        margin-left: 0;
    }
}
