* {
    margin: 0 15px;
     padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: space-between; /* 로고 왼쪽, nav 오른쪽 */
    align-items: center;
    padding: 0 40px; /* 좌우 여백 */
    /* border-bottom: 1px solid #ccc; */
}

.logo a {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    gap: 30px; /* 메뉴 간격 */
}

.nav-menu {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-menu1{
    text-decoration: none;
    background-color: gray;
    padding: 8px 16px;
    color: white;
    border-radius: 4px;
    
}
.nav-menu:hover {
    background-color: gray;
    color: white;
}
.menu-toggle-btn{
    color: black;
    font-size: 25px;
    background: transparent; 
    border: none;
    display: none;
    cursor: pointer;
 }

/* 메인 시작 */
main {
    display: flex;
    justify-content: center;      /* 가운데 정렬 */
    align-items: center;
    height: 800px;
    background-color: rgba(194, 194, 194, 0.445);
    margin: 0;
}



/*  큰 화면 (데스크탑) */
@media (min-width: 1024px) {
    
}

/* 작은 화면 (모바일) */
@media (max-width: 768px) {
    .menu-toggle-btn{
        display: block;
    }
    .nav{
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: white;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 20px 0;
    }
    .nav.active{
        display: flex;
    }
    .nav-menu{
        pad: 10px 0;
        font-size: 18px;
    }
    .main-content {
        flex-direction: column; /* 위아래 배치 */
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    
}

