* {
    margin: 0;
     padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between; /* 로고 왼쪽, nav 오른쪽 */
    align-items: center;
    padding: 0 40px; /* 좌우 여백 */
    z-index: 9999;
    margin: 0;
}

.logo a {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    gap: 30px; /* 메뉴 간격 */
    z-index: 9999;
}

.nav-menu {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-menu1{
    text-decoration: none;
    background-color: gray;
    padding: 8px 16px;
    color: white;
    border-radius: 4px;
    
}
.nav-menu:hover {
    background-color: gray;
    color: white;
}
.menu-toggle-btn{
    color: black;
    font-size: 25px;
    background: transparent; 
    border: none;
    display: none;
    cursor: pointer;
 }

/* 메인 시작 */
main {
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;      
    align-items: center;
    background-color: rgba(194, 194, 194, 0.445);
    margin: 0;
    padding-top: 120px;
}
.project-title{
    width: 90%;
    display: flex;
    /* align-items: center; */
    gap: 20px;
    /* margin: 60px 0 30px; */
}
.project-title span{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 4px;
}
.project-title::after{
    content: "";
    flex: 1;                 /* 남는 공간 전부 차지 */
    height: 2px;
    background-color: #333;  /* 선 색상 */
    margin-top: 15px;
}

.portfolio-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    width: 90%;
    /* height: 800px; */
    max-width: 1500px;
    margin: 50px auto;
    /* border: 1px solid red; */
}
.card{
    width: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 15px;
    align-items: center;
}
.card img{
    /* width: 400px; */
    width: 100%;
    height: 300px;
    /* aspect-ratio: 4 / 3; */
    display: block;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    transition: transform 0.4s ease;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    /* width: 355px; */
    width: 100%;
    margin-bottom: 5px;
    align-items: center;
    padding: 20px;
    border-radius: 10px ;
    background: rgba(0,0,0,0.7);
    color: white;
    transform: translateY(100%);
    transition: 0.4s ease;
}

.card:hover img{
    transform: scale(1.05);
}

.card:hover .overlay{
    transform: translateY(0);
}

.modal{
    display:none;
    position:fixed;
    top:0; left:0;
    width:100%; height:100%;
    background:rgba(0,0,0,0.6);
    justify-content:center;
    align-items:center;
    z-index:1000;
}
.modal-content{
    background:white;
    padding:30px;
    width:80%;        
    max-width:800px;
    align-items: center;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    gap:15px;
}
.close{
    align-self: flex-end;
    font-size:24px;
    cursor:pointer;
}
.modal-content img{
    width: 400px;
    height: 250px;
    object-fit: contain;
    border: 2px solid gray;
    border-radius: 10px;
    position: static;
    padding: 10px;
}
/*  큰 화면 (데스크탑) */
@media (min-width: 1024px) {
    
}

/* 작은 화면 (모바일) */
@media (max-width: 768px) {
    .menu-toggle-btn{
        display: block;
    }
    .nav{
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: white;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 20px 0;
    }
    .nav.active{
        display: flex;
    }
    .nav-menu{
        pad: 10px 0;
        font-size: 18px;
    }
    .project-title{
        margin-bottom: 20px;
    }
    .portfolio-grid{
        grid-template-columns: 1fr;
    }
    .overlay{
        transform: translate(0);   /*항상 보이게*/
        border: 1px solid black;
        background-color: rgba(255, 255, 255, 0.521);
        color: black;
    }
}

