*{
            margin: 0;
        }
        header{
            background-color: white;
            height: 100px;
            display: flex;
            align-items: center;
        }
        a img{
            margin-right: 300px;
        }
        a{
        text-decoration: none;
        color : black;
        font-weight: 500;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        margin: 15px
        } 
        .nav a{
        padding: 10px;
        }
        a:hover{
        color: #01a1dd;
        }
        i{
            margin-left: 15px;
            margin-right: 15px;
        }
        .top-bar{
            margin-left: auto;
            display: flex;
            align-items: center;
            gap: 0;
        }
        .btn{
            border: 1px solid #ddd;
            padding: 1px 3px;
            border-radius: 3px;
            font-size: 14px;
            margin: 3px;
        }
        main{
            background-color: aliceblue;
        }
        h1{
            font-weight: 400;
            color: rgb(91, 91, 110);
            text-align: center;
            padding-top: 20px;
        }
        .container{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 100%;

        }
        .origin{
            background-color: white;
            /* border: 1px solid; */
            border-radius: 5px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            width: 400px;
            height: 400px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            margin-right: 20px;
            justify-content: space-between;
            transition: 0.2s ease;
            transform-origin: bottom;
        }
        h2{
            font-weight: 600;
            margin: 30px 30px;
        }
        h4{
            margin-left: 30px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.705);
        }
        h5{
            margin-left: 30px;
            margin-bottom: 3px;
            color: rgb(61, 151, 255);
        }
        p{
            margin-top: 10px;
            margin-left: 30px;
            font-size: 30px;
            color: rgb(61, 151, 255);
        
        }
        img{
            width: 200px;
            height: 160px;
            object-fit: contain;
            /* display: block; */
        }
        .scaley{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        section:hover{
            transform: scaleY(1.05);
            box-shadow: 0 10px 50px rgba(0, 0, 0, 0.505);
        }
        .quick-menu{
            display: flex;
            justify-content: space-between;
            padding-bottom: 50px;
            padding-top: 50px;
        }
        .q-item {
            text-align: center;
            cursor: pointer;
            transition: all 0 0.2s ease-in-out;
        }
        .q-item:hover{
            transform: translateY(-5px);
        }
        .q-item span{
            font-size: 30px;
            display: block;
            margin-bottom: 10px;
            color: #0066b3;
        }
        .q-item p{
            font-size: 13px;
            font-weight: bold;
        }

        .info-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            padding-bottom: 60px;
        }
        .notice,
            .app-promo,
            .cs-center {
            background: #f9f9f9;
            padding: 30px;
            border-radius: 10px;
        }
        .notice .title-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }

        .app-promo {
            background: #fffbe6;
        }

        .app-promo button {
            margin-top: 15px;
            padding: 5px 15px;
            border: 1px solid #e2bc1f;
            background: #fff;
            border-radius: 20px;
            font-size: 12px;
        }

        .cs-item {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 15px;
        }