 header{
        height: 100px;
        display: flex; 
        justify-content: center;
        align-items: center;
        }
        a img{
            align-items: center;
            width: 250px;
        }
        a{
        text-decoration: none;
        color : black;
        font-weight: 600;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        } 
        .nav a{
        padding: 10px;
        }
        a:hover{
        color: #01a1dd;
        }

        main{
        background-image: url(./images/samsung5.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 100vh;
        margin-bottom: 30px;
        position: relative;
        }
        .ment1{
        position:relative;
        top: 30px;
        left: 150px;
        color: rgb(90, 90, 90);
        font-size: 3em;
        font-family: Arial, Helvetica, sans-serif;
        }
        .ment2{
        position: relative;
        left: 150px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        color: rgb(78, 78, 78);
        border: none;
        }
        /* button{
        position: absolute;
        top: 350px;
        left: 50%;
        background-color:rgba(128, 128, 128, 0.329);
        border: 1px solid gray;
        padding: 5px 24px;
        cursor: pointer;
        } */
        button{
        position: relative;
        top: 65%;
        left: 50%;
        background-color:rgba(128, 128, 128, 0.329);
        border: 1px solid gray;
        border-radius: 20px;
        padding: 10px 25px;
        font-weight: 400;
        cursor: pointer;
        }
        button:hover{
            background-color: rgb(75, 75, 75);
            color: aliceblue;
        }  
        section{
            display: flex;
            align-items: stretch;
            justify-content: center;
            height: 470px;
            max-width: 1500px;
            margin: 0 auto;
        }
        .nav{
            width: 1000px;
            border: none;
            font-size: 25px;
            padding-bottom: 30px;
            margin-bottom: 20px;
        }
        div{
            width: 300px;
            border: solid 1px;
            margin-top: 25px ;
            padding: 7px;
            border: solid 1px lightgray;
        }
        .box3{
            padding-top: 30px;
        }
        .text:hover{
            text-decoration: underline;
            color: rgba(0, 0, 255, 0.767);
        }